/*==============================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
/*==============================================================================*/
.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    border-top: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-decoration: none;
    list-style: none;
    background-size: cover;
    background: linear-gradient(355deg, #ffc9b1 0, #ffad98 6.25%, 
    #ffa69b 12.5%, #ff8a8a 18.75%, #ff8190 25%, #ff7d9b 31.25%, #ff83af 37.5%, 
    #ff89c0 43.75%, #ff82cd 50%, #ff81dd 56.25%, #ff7cf4 62.5%, #ec80ff 68.75%, 
    #c97dff 75%, #a179ff 81.25%, #6f80ff 87.5%, #4885ff 93.75%, #005eff 100%);
}

nav {
    width: 100%;
    margin: auto;
}


/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
.menu-principal {
    list-style: none;
    text-decoration: none;
}


.menu-principal  li a{
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.menu-principal > li:hover{
    background-color:rgba(0, 0, 0, 0.5);
}

.menu-principal a {
    list-style: none;
    text-decoration: none;

}

.menu-principal a:hover {
    color:white;
    background-color:rgba(0, 0, 0, 0.5);
}


/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/

.header-ajustes{
    background-color: rgb(0, 0, 0,0.3);
    border-bottom: 0.7px;
}

.ventanas-gaps-divs{
    background-color: rgb(0, 0, 0, 0.0);
}

.ventanas-section{
    background-color: rgb(0, 0, 0,0.1);
    border: 10px;
    padding: 10px;
}

.ventanas-divs{
    background-color: rgb(0, 0, 0,0.2);
}

.formato-sections-divs{
    padding: 30px;
    border: 30px;
    margin: 10px;
}

.conteiner-img {
    border: solid 10px rgba(0, 0, 0, 0.3);
}

.conteiner-table {
    border: solid 1px rgb(0, 0, 0);
}

.boton-bordes-color {
    background-color: whitesmoke;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.footer-color {
    padding: auto;
    background-color:rgba(0, 0, 0, 0.2);
}

.presentacion-img {
    text-align: center;
    align-items: center;
}


.presentacion-ajustes {
    display: flex;
    align-items: center;
    flex-flow: row;
}

/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/

* {
    font-family: 'Fraunces', serif;
}

.mod_calculadora{
    display: flex;
    justify-content: center;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: rgb(0, 0, 0,0.2);
    padding: 15px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.5em;
    border: none;
    background-color: rgb(0, 0, 0,0.2);
}

button:hover{
    background-color: #00000045;
}

button:active{
    background-color: #00000050;
}

button:focus{
    outline: none;
}

.col-2_span {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    color: beige;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #2a2a2a;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}

/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
.mod_adivinanza{
    display: flex;
    justify-content: center;
}

.adivinanza {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(4, 80px);
    background-color: rgb(0, 0, 0,0.2);
    padding: 15px;
}

.display_vida_puntaje {
    grid-column: span 2;
    margin: 5px;
    padding: 0;
    font-size: 1.5em;
    border: none;
    border-radius: 12px;
    background-color: rgb(0, 0, 0,0.2);
}

.display_adivinanza {
    grid-column: span 4;
    text-align: center;
    word-break: break-all;
    font-size: 1.5rem;
    margin: 5px;
    padding: 0;
    font-family: inherit;
    color: inherit;
    background: rgb(0, 0, 0, 0.2);
    border: 10px solid rgb(0, 0, 0, 0.2);
}

.adivinanza_registro {
    grid-column: span 4;
    text-align: center;
    word-break: break-all;
    border: 10px solid rgb(0, 0, 0, 0.2);
    background: rgb(0, 0, 0, 0.5);
    font-family: inherit;
    color: inherit;
    color: #ffffff;
    font-size: 2.5rem;
    margin: 5px;
    padding: 0;
}

.adivinanza_btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.adivinanza_btn:hover {
  background-color: #949494;
}

.mensaje {
    grid-column: span 4;
    text-align: center;
    word-break: break-all;
    border: 10px solid rgb(0, 0, 0, 0.2);
    background: rgb(0, 0, 0, 0.5);
    font-family: inherit;
    color: inherit;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 5px;
    padding: 0;
}

/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/

.mod_loteria{
    display: flex;
    justify-content: center;
}

.loteria {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(7, 80px);
    background-color: rgb(0, 0, 0,0.2);
    padding: 15px;
}

.display_loteria_user {
    grid-column: span 1;
    text-align: center;
    word-break: break-all;
    border: 10px solid rgb(0, 0, 0, 0.2);
    background: rgb(0, 0, 0, 0.2);
    color: inherit;
    font-size: 1.5rem;
    margin: 5px;
    padding: 0;
}

.display_loteria_rnd {
    grid-column: span 1;
    text-align: center;
    word-break: break-all;
    border: 10px solid rgb(0, 0, 0, 0.2);
    background: rgb(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 1.5rem;
    margin: 5px;
    padding: 0;
}

.display_loteria_mnj {
    grid-column: span 3;
    text-align: center;
    word-break: break-all;
    border: 10px solid rgb(0, 0, 0, 0.2);
    background: rgb(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 1.5rem;
    margin: 5px;
    padding: 0;
}

.loteria_reiniciar {
    grid-column: span 2;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.5em;
    border: none;
    background-color: rgb(0, 0, 0,0.2);
}

.loteria_ok {
    grid-column: span 1;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.5em;
    border: none;
    background-color: rgb(0, 0, 0,0.2);
}



/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/

.tareas_container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0,0.2);
    padding: 30px;
}
  
.tareas_search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
  
.tareas_form {
    display: flex;
}
  
.tareas_input {
    border: 10px solid rgb(0, 0, 0, 0.2);
    background: rgb(0, 0, 0, 0.5);
    padding: 15px 10px;
    outline: none;
    width: 400px;
}
  
.tareas_li-container {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}
  
.tareas_ul {
    padding: 0;
}
  
.tareas_li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}
  
.tareas_li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}
  
.tareas_btn-delete {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
}
  
.tareas_btn-delete:hover {
    cursor: pointer;
    background-color: lightseagreen;
}
  
.tareas_btn-add {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: teal;
    font-size: 1.4rem;
    outline: none;
}
  
.tareas_btn-add:hover {
    cursor: pointer;
    background-color: darkcyan;
}
  
.tareas_empty {
    color: darkslategrey;
}